.title-card-wrapper {
    display: flex;
    height: 30px;
    padding:0 42px;
}

.horizontal-line {
    height:2px;
    width:340px;
    background:orange;
    margin:34px;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.para-wrapper {
    padding:16px 42px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading-text {
    text-align: left;
    padding:0px 42px;
}

@media screen and (max-width:700px) {
    .horizontal-line{
        width:70px;
    }
}

@media screen and (max-width:400px) {
    .horizontal-line{
        width:35px;
    }
}

@media screen and (max-width:360px) {
    .horizontal-line{
        display: none;
    }
}