.description-wrapper {
  height: 280px;
  width: 600px;
  background: #ffebd1;
  border-radius: 16px;
  margin: 20px;
  padding-top:20px; 
}

.info-wrapper {
  float: left;
  margin-left: 20px;
  width: 600px;
}

.title-dsg {
  text-align: left;
}

.year {
  color: grey;
  text-align: left;
}

.work-description {
  text-align: left;
  padding-left: 20px;
  margin-top: -20px;
}

@media screen and (max-width:960px) {
  .description-wrapper{
    height:auto;
    width:80vw;
    margin: 0px 5vw;
    padding-bottom:5px;
    margin-top:20px;
  }
}

.lister{
  display: none;
}


@media screen and (max-width:700px) {
  .title-dsg{
    display: none;
  }
  .lister{
    display: block;
   text-align: left;
   margin-left: 0px;
  }

  .info-wrapper{
    width:70vw;
  }
}

